* {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
body {
	font: 18px/26px 'Scada', arial, sans-serif;
	color:#333;
	background:#fff;
}
h1 {
	font-size:32px;
	line-height: 110%;
	display: inline;
}
a {
	color:#333;
	outline:none;
	text-decoration:none;
}
a:hover {
	color:#2283E4;
}
input:focus, 
button:focus, 
textarea:focus  {
	outline:none;
}

.main_header {
	margin: 20px 0;
}

input[type=text], textarea, select {
	-moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
	padding: 10px; 
	border: 2px solid #ccc;
	width: 100%; 
	margin: 10px 0; 
	font-family: 'Scada', arial, sans-serif;
    font-size: inherit;
	line-height: inherit;
	outline: none;
}
textarea {height: 82px;}
input[type=text]:focus, textarea:focus, select:focus {
	border-color: #a8a8a8 !important;
}
input[type=text]:focus, textarea:focus {
	z-index: 2;
	position: relative;
}
input.error, textarea.error, select.error {
	border-color: red !important;
    z-index: 2;
    position: relative;
}
select {
    background: linear-gradient(45deg, transparent 49%, #000 50%), linear-gradient(135deg, #000 50%, transparent 50%), #fff;
    background-position: calc(100% - 8px) calc(50% + 1px), calc(100% - 5px) calc(50% + 1px), 100% 0;
    background-size: 3px 4px, 3px 4px, 1.5em 2.5em;
    background-repeat: no-repeat;
}
select:-moz-focusring {
    color: transparent;
	text-shadow: 0 0 0 #333;
}
input[type=checkbox] {margin-right: 10px;}
label {line-height: 20px; display: inline-block;}
label a, .top_target a {color:#fff;}

/* calc */
#calc_container {
	background: #FAFAFA;
    font-size: 16px;
    line-height: 1.5;
	margin: 1.5em 0;
}
#calc_form {
    padding: 15px;
}
table input[type=text], 
table textarea, 
table select {
	margin: 0;
}
#calc_form label {
	display: block;
}
#calc_form input + label {
	display: inline-block;
    padding: 0 10px 0 5px;
}
#night-label:after {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
	background: #007fff;
	border: 1px solid #003eff;
    margin-left: 5px;
}
.picker {
	position: relative;
	cursor: pointer;
}
.picker img {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 5px;
	margin: auto 0;
}
#calc_container .choice {
	list-style: none;
	padding: 0;
	margin: 0 0 20px;
	position: relative;
}
#calc_container .choice li {
    display:inline-block;
    position: relative;
	padding: 0 10px 5px 0;
	margin-right: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    cursor:pointer;
    text-transform: uppercase;
    font-weight: 300;
}
#calc_container li.indicator {
    position: absolute;
    top: 100%;
    background: #2283E4;
    height: 2px;
    padding: 0;
    transition: left .4s, right .4s;
}
#calc_container .choice li.active {
    color: #2283E4;
}
#calc_container .choice li a {
    color:#1d1b1b;
}
#calc_container .choice li.active a {
    color:#fff;
}
.calc_form-item:not(:last-child) {
    margin: 0 -15px;
    padding: 15px;
    border-bottom: 15px solid #fff;
}
.calc_form-item:first-child {padding-top: 0;}
.calc_form-item:last-child {padding-top: 15px;}
.calc_form-choice {
	display: none;
}
.calc_form-choice.visible {
	display: block;
}
.calc_form-inline {
	display: flex;
    align-items: center;
}
.calc_form-inline label {
	flex: 0 0 30%;
}
.calc_form-row {
	display: flex;
    align-items: flex-end;
}
.calc_form-col {
	flex: 0 1 50%;
    padding-right: 7px;
}
.calc_form-col-divider {
	align-self: center;
    flex-basis: auto;
}
div.calc_form-col.p10 {
	padding-left: 10px;
}
.calc_form-col:last-child {
	padding: 0;
}
.calc_form-col_wide {
	flex: 1 0 70%;
}
.calc_form-col_100 {
	flex: 1 0 100%;
}
.calc_hint {
	font-size: .8em;
	line-height: 1;
    font-style: italic;
}
.calc_form-table {
	margin: 20px 0 0;
    padding-top: 15px;
    border-top: 1px dashed #ccc;
}
.calc_form-table-btn {
	text-align: right;
	margin: 15px 0;
}
.calc_form-radios {
    display: flex;
    align-items: center;
	height: 42px;
	margin: 12px 0;
}
.calc_subheader {
	margin: 0 0 10px;
}
#calc_container table {
	width: 100%;
	border-collapse: collapse;
}
#calc_container table.matrix th,
#calc_container table.matrix td {
	border: 0;
	padding: 3px 8px;
}
#calc_container table.matrix {
	width: auto;
    border-left: 2px solid #333;
    border-right: 2px solid #333;
}
#calc_container th {
	padding: 5px;
	border: 1px solid #ccc;
	border-bottom: 0;
	font-weight: normal;
}
#calc_container td {
	padding: 0;
	border: 1px solid #ccc;
}
#math-table td {
	padding: 5px;
}
#math-table > tr:nth-child(2n) {
	background-color: #efefef;
}
.history_table th,
.matrix_table th {
	word-break: break-all;
	word-break: break-word;
}
.history_table .input-container,
.matrix_table .input-container {
    margin: -1px;
}
.history_table input[type=text], 
.history_table textarea, 
.history_table select,
.matrix_table input[type=text], 
.matrix_table textarea, 
.matrix_table select {
	border: 1px solid #ccc;
}
.calc_form-btns {
	text-align: center;
	margin-top: 40px;
}
.calc_form-btns label {
	text-align: left;
}
.calc_form-btns_grade {
	display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
	font-size: 1.5em;
	margin-top: 40px;
}
.calc_form-btns_grade .calc_btn {
    flex: 0 0 20%;
	padding: 10px 0;
	border-left: 0;
	margin-top: -1px;
}
.calc_form-btns_grade .calc_btn:nth-child(5n + 1) {
	border-left: 1px solid #ccc;
}
#calc_form-array {
	font-size: 1.8em;
	font-weight: bold;
	text-align: center;
    margin-top: 55px;
}
.calc_btn {
	appearance: none;
	-webkit-appearance: none;
	padding: 10px 20px;
	background-color: transparent;
	border-radius: 0;
	border: 1px solid #ccc;
	font-family: 'Scada', arial, sans-serif;
	font-size: 1em;
	color: #333;
}
.calc_btn-small {
	padding: 5px 10px;
	font-size: .8em;
}
.calc_form-table-btn .calc_btn {
	margin: 0;
}
.calc_btn:hover {
	border-color: #2283E4;
	cursor: pointer;
}
#calc_count,
.calc_count,
.calc_copy,
.calc_grade:hover,
.calc_grade-remove:hover {
	background-color: #2283E4;
	border-color: #2283E4;
	color: #fff;
}
#calc_count:hover,
#calc_count.active,
.calc_count:hover,
.calc_count.active,
.calc_copy:hover {
	color: #2283E4;
	background-color: transparent;
}
#calc_redirect {
	background-color: #037a38;
	border-color: #037a38;
	color: #fff;
}
#calc_redirect:hover {
	color: #037a38;
	background-color: transparent;
}
.calc_copied {
	background-color: green;
	border-color: green;
	color: #ffffff;
}
.calc_btn.unactive,
.calc_btn.unactive:hover {
	position: relative;
	background-color: #a2c9f1 !important;
    border-color: #a2c9f1 !important;
	color: #fff !important;
	cursor: default;
}
.unactive span {position: relative;}
.unactive .btn-progress {
	position: absolute;
	top: -1px;
	bottom: -1px;
	left: -1px;
	width: 0px;
	background-color: #2283E4;
}
.clear-row,
.clear-col,
.add-col {
	display: block;
	width: 20px;
    height: 20px;
	position: relative;
	cursor: pointer;
}
.clear-row::before, .clear-row::after,
.clear-col::before, .clear-col::after,
.add-col::before, .add-col::after {
	content: '';
    width: 100%;
    position: absolute;
    left: 0;
    transform: rotate(45deg);
    background-color: #aaa;
    top: 40%;
    height: 10%;
}
.clear-row:hover::before, .clear-row:hover::after,
.clear-col:hover::before, .clear-col:hover::after,
.add-col:hover::before, .add-col:hover::after {
	background-color: #2283E4;
}
.clear-row::after,
.clear-col::after {
	transform: rotate(-45deg);
}
.add-col::before {
	transform: rotate(0);
}
.add-col::after {
	transform: rotate(-90deg);
}
.calc-result {
	border-top: 1px dashed #ccc;
	padding: 15px;
    background-color: #fffae8;
}
.calc_form-item .calc-result {
	margin: 15px -15px -15px;
}
.calc-result .calc_subheader b {
    display: inline-block;
    margin: 0 0 0.5em;
	border-bottom: 1px solid #2283E4;
    font-size: inherit;
}
.result-btn {
	padding-top: 15px;
	text-align: center;
}
.schedule-link .result-btn {
	padding-bottom: 15px;
}
.calc-result-text > div {
	margin: 10px 0;
}
.schedule-link {
	border-top: 1px dashed #ccc;
    padding-top: 10px;
    margin-top: 2em;
}
.calc-result-text .schedule-datepicker {
	margin-top: 25px;
}
.schedule-month_desc {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
	font-size: .6em;
    text-align: center;
    padding: 0 0 .5em;
}
#result-link {
	display: block;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
	-ms-user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
}
.counter-sec_sum {
	position: fixed;
	bottom: 20px;
	right: 20px;
	border: 1px solid #efefef;
	color: #2283E4;
	padding: 10px;
	background: #fffae8;
	z-index: 3;
}
.counter-sec_sum b {
	display: block;
}

/* math */
sup, sub {
	vertical-align: baseline;
	position: relative;
	top: -0.45em;
}
sub { 
	top: 0.45em; 
}

.formula-table {
	display: inline-block;
	text-align: center;
}
.formula-table div {
    display: inline-block;
    vertical-align: middle;    
	vertical-align: -webkit-baseline-middle;
	padding: 5px 2px;
}
.formula-inner_table > div {
	display: block;
    border-bottom: 1px solid #ccc;
}
.formula-inner_table  > div:last-child {border: 0;}
.formula-radic {
    border-top: 1px solid #777;
}
.formula-answer {
    color: green;
}
.formula-table tr:first-child:not(:last-child) {
	border-bottom: 1px solid #ccc;
}
.calc_formula-result #result-text > div:not(:last-child) {
    margin-bottom: 15px;
}
#result-columns > div {
	display: inline-block;
    width: 50%;
    margin: 5px 0;
}
.formula-result {
	border: 1px dashed green;
    padding: 15px;
    background-color: #fffae8;
    text-align: center;
    font-size: 1.2em;
}
.result-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.result-row #result-text {
	flex: 1;
    align-self: start;
}

@media screen and (max-width: 600px) {
	input[type=text], textarea, select, #speller-text-div {padding: 5px; margin-bottom: 10px;}
	#calc_container {
		/*font-size: 12px;*/
		line-height: 1.3;
	}
	.calc_form-row:not(.calc_form-row_fixed),
	.calc_form-inline {
		display: block;
	}
	.calc_form-row:not(.calc_form-row_fixed) > .calc_form-col {
		padding: 0;
	}
	.calc_form-radios {height: auto; margin: 0; font-size: .8em;}
	.result-row {display: block;}
}